html, body {
  min-height: 100vh;
  margin: 0;
}

h1 {
  margin-top: 30px;
}

body {
  background-color: #1e1e1e;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;

  display: flex;
  flex-direction: column;

  padding-bottom: 20px;
}

.container-jogo {
  flex: 1;
  display: flex;
  flex-direction: column;

}

.mesa {   
  width: 1200px;
  height: 600px;
  border: 2px dashed white;
  padding: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.linha-central {
  flex: 1;                 /* ocupa espaço central */
  display: flex;
  justify-content: center; /* centraliza a mesa */
  align-items: center;
  gap: 40px;               /* espaço entre mesa e adversários */
}

#area-mesa {
  display: flex;
  align-items: center;
}

.area-jogador {
  padding-bottom: 70px;
}

.area-parceiro {
  margin-top: 10px;
}

.area-parceiro .mao {
  justify-content: center;
}

.area-adversario {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.area-adversario .mao {
  flex-direction: column;
  gap: 10px;
}

.mao {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}


.peca {
  width: 80px;
  height: 25px;
  background-color: white;
  color: black;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  font-weight: bold;
  border: 2px solid black;
  position: relative;
}

.metade {
  width: 50%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}

.ponto {
  width: 8px;
  height: 8px;
  background-color: black;
  border-radius: 50%;
}

.peca::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: black;
  left: 50%;
  transform: translateX(-50%);
}

.marcador {
  width: 60px; /* mesmo tamanho da peça */
  height: 30px;
  border: 2px dashed yellow;
  display: none;
  cursor: pointer;
}